.hotel-discount>.container>h4
{
    text-align: center;
    margin-bottom: 20px;
}
.owl-carousel .item{
    border-radius: 5px;
    box-shadow: 1px 1px 4px 4px #f2f2f2;
}
.owl-carousel .item a{
    text-decoration: none;
    color: black;
}
.owl-carousel .item .item-img{
    overflow: hidden;
    border-radius: 5px;
}
.owl-carousel .item img{
    height: 180px;
    transition: 1s;
}
.owl-carousel .item img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/* button prev - next */
.owl-prev, .owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
}
.owl-prev { left: -60px; }
.owl-next { right: -60px; }
.owl-prev i, .owl-next i {
    transform : scale(4,5); color: #ccc;
    font-size: 10px;
}
.owl-nav button:focus{
    outline: none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
/* end button prev - next */

}.owl-carousel .item .item-content h6{
    margin-top: 10px;
    padding: 0 10px;
}

.owl-carousel .item .item-content p:first-child{
    margin-bottom: 0;
    font-size: 18px;
}
.owl-carousel .item .item-content p:last-child{
    font-size: 24px;
    color: #ff751a;
    font-weight: 700;
}
.owl-carousel .item .item-content .item-conent-price{
    text-align: right;
    margin-right: 10px;
}